#app {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    color: rgb(10, 12, 141);
  }

#app-2 {
    margin: auto;
  }

#app-3 {
    margin: auto;
  }

#app-4 {
    margin: auto;
  }

#app-5 {
    margin: auto;
    color: rgb(22, 182, 129);
  }
 
.red { 
    color: red; 
  }
  
p {
    margin: auto;
    padding: 10px 12px;
    border: 1px solid #ccc;
    width: 100px;
  } 