<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="node_modules\vue\dist\vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script> -->

    <!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="css/styles.css">
    
</head>

<body>

    <div id="app">
            <h1>{{ message }}</h1>
    </div>

    <div id="app-2">
        <span v-bind:title="message"> <!-- "v-" préfixe une directive! "v-bind" est donc un attribut spécial réactif au DOM après rendu. -->
          Passez votre souris sur moi pendant quelques secondes
          pour voir mon titre lié dynamiquement !
        </span>
    </div>

    <!-- Capturer un texte entré dans un champ de saisie : -->
    <div id="app-3">
    <!--   <label for="name">Name:</label> -->
        <input type="text" v-model="value_test" />
        <p>{{ value_test }}</p>
    </div>

    <!-- Ajouter / Enlever une classe sur un élément : -->
    <div id="app-4">
        <button @click="active = !active">Changer la couleur</button>
        <p :class="{ red: active }">Ils ont arrété Julian Assange !!!</p>
    </div>
    
    <!-- Afficher / Cacher un élément au clic sur un bouton : -->
    <div id="app-5">
        <button v-on:click="show = !show">
            Afficher le titre
        </button>
        <h1 v-if="show">Ma première page en Vue.js</h1>
    </div>
    
</body>
<!-- <script src="script.js"></script> -->
<script src="vue.js"></script>
</html>
